:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
  --bg-image: url(../images/cover-image-dark.png);
  --large-text-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --main-text-size: 18px;
  --main-text-lh: 1.3;
  --padding: 0 2.6%;
  --accent-color-text: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-color-bg: #FF0070;
  --header-text: #DB00FF;
  --bg-color: #000028;
  --title-decor-text: #000028;
  --font: 'IBM Plex Mono', monospace;
}

.page.theme_dark {
  .header__theme-menu-button_type_dark {
    outline: 1px solid var(--accent-color-text);
    display: inline-flex;
    height: 26px;
    padding: 0px 13px;
    justify-content: center;
    align-items: center;
  }
}