:root.theme_light {
  /* Переменные светлой темы */
  --bg-image: url(../images/cover-image-light.png);
  --accent-color-text: #353430;
  --main-text-color: #353430;
  --accent-color-bg: #FF8DCB;
  --header-text: #FFC2E6;
  --bg-color: #FFF1F7;
  --title-decor-text: #000028;
  --font: 'IBM Plex Mono', monospace;
  --hover-color: rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color-text: #353430;
    --main-text-color: #353430;
    --accent-color-bg: #FF8DCB;
    --header-text: #FFC2E6;
    --bg-color: #FFF1F7;
    --title-decor-text: #000028;
    --font: 'IBM Plex Mono', monospace;
    --hover-color: rgba(50, 49, 45, 0.40);
  }
}

.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color-text: #353430;
  --main-text-color: #353430;
  --accent-color-bg: #FF8DCB;
  --header-text: #FFC2E6;
  --bg-color: #FFF1F7;
  --title-decor-text: #000028;
  --font: 'IBM Plex Mono', monospace;
  --hover-color: rgba(50, 49, 45, 0.40);

  .tag__marker {
    visibility: hidden;
  }
  
  .header__theme-menu-button_type_light {
    outline: 1px solid var(--accent-color-text);
    display: inline-flex;
    height: 26px;
    padding: 0px 13px;
    justify-content: center;
    align-items: center;
  }
}
