.page.theme_light {
  --bg: url(../images/cover-image-light.png) #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --shadow-color: #FF8DCB;
  --decor-color: #353430;
  --decor-border: 1px solid var(--decor-color);
  --hover-border: 1px solid rgba(50, 49, 45, 0.40);
  --article-color: #353430;
  --header-title-color: #FFC2E6;
  --section-title-color: #353430;
}

.page.theme_light .decorate {
  display: none;
}

@media (width >= 1024px) {
  .page.theme_light {
    --shadow-color: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: url(../images/cover-image-light.png) #FFF1F7;
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --shadow-color: #FF8DCB;
    --decor-color: #353430;
    --decor-border: 1px solid var(--decor-color);
    --hover-border: 1px solid rgba(50, 49, 45, 0.40);
    --article-color: #353430;
    --header-title-color: #FFC2E6;
    --section-title-color: #353430;
  }

  @media (width >= 1024px) {
    .page {
      --shadow-color: #FF0070;
    }
  }

  .page .decorate {
    display: none;
  }
}