
/* Здраствуйте уважаемый ревьюер)))
У меня случилась ошибка в том,
что у меня стала закрыта панель разработчика в фигме, она не открвается
пишет, что я должен состоять в платной группе, что бы открыть панель 
Я уже написал в пачку об этой проблеме
Спасибо за понимание)) */




.page {       /* body */
  display: grid;
  gap: 40px;
  font-family: var(--font, sans-serif);
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
  background: var(--bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* header */
.header {
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, 1fr);
  background: var(--bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-weight: 400;
  line-height: 18px; /* 100% */
  min-height: 100vh;
  padding: 10px;
}

.decorate {
  position: absolute;
  display: inline-block;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  inset-inline-end: 26px;
  inset-block-start: 10px;
}

.decorate::after {
  content: '';
  position: relative;
  inset-inline-start: 8px;
  display: inline-block;
  block-size: 11px;
  inline-size: 11px;
  filter: drop-shadow(0px 0px 4px var(--shadow-color));
  border: var(--decor-border);
  border-radius: 50%;
  background-color: var(--decor-color);
}

.header::before {
  content: '';
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: var(--decor-border);
  border-inline-end: var(--decor-border);
}

.header::after {
  content: '';
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: var(--decor-border);
  border-inline-start: var(--decor-border);
}

.header__theme-menu {
  color: var(--decor-color);
  justify-self: end;
  align-self: center;
  margin-block-start: 1vh;
}

.header__theme-menu-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  font-family: var(--font, sans-serif);
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: 25px; /* 138.889% */
  background: transparent;
  block-size: 26px;
  padding-inline: 13px;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: var(--decor-border);
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: var(--hover-border);
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--decor-border);
  outline: none;
}

.title {
  align-self: center;
  color: var(--header-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.header__title {
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__text {
  line-height: 23.4px; /* 130% */
  align-self: center;
  margin-block-end: 2vh;
  white-space: pre-line;
}

.title-decor {
  background: var(--accent-color);
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
}
/* main */
.content {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
}

.section:not(:last-child) {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  color: var(--section-title-color);
}

.article__title {
  line-height: 23.4px; /* 130% */
  margin-block-end: 10px;
}

.article__text {
  color: var(--article-color);
  font-weight: 400;
}

.section > .double_title {
  margin-block-end: 0;
}

.link {
  color: var(--article-color);
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--article-color);
}

.link:focus-visible {
  border: 1px solid var(--article-color);
  outline: none;
}

.article__subtitle {
  font-weight: 400;
}

.images_list {
  display: grid;
  gap: 10px;
}

.image {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  background: var(--bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  min-height: 100vh;
}

.footer::before {
  content: '';
  position: relative;
  left: calc(100% - 25px);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: var(--decor-border);
  border-inline-end: var(--decor-border);
}

.footer::after {
  content: '';
  position: relative;
  top: calc(100% - 25px);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: var(--decor-border);
  border-inline-start: var(--decor-border);
}

.footer__title {
  text-shadow: 2px 2px 0px var(--shadow-color);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: 20px;
  }

  .header::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .decorate {
    inset-inline-end: 36px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    margin-block-start: 11vh;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    position: relative;
    inset-inline-end: 20px;
  }

  .header__text {
    justify-self: end;
    max-inline-size: 364px;
    margin-block-end: 11vh;
  }

  .content {
    gap: 80px;
    padding-inline: 20px;
  }

  .section:not(:last-child) {
    grid-template-columns: 1fr 2fr;
  }

  .first__section .section__title {
    grid-row: span 2;
  }

  .second__section .article {
    grid-column: span 2;
  }

  .third__section .section__title {
    grid-row: span 6;
  }

  .images__section {
    display: grid;
    gap: 20px;
  }

  .images__section .article__title {
    margin-block-end: 0;
  }

  .images_list {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .image:first-child {
    grid-column: span 2;
  }

  .image:nth-child(2) {
    grid-row: span 2;
  }

  .image:nth-child(3) {
    grid-row: span 2;
  }

  .image:last-child {
    grid-column: span 2;
  }

  .footer {
    padding: 20px;
  }

  .footer__title {
    justify-self: center;
  }
}


@media (width >= 1024px) {
  .header__text {
    max-inline-size: 491px;
    margin-block-end: 7.5vh;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .section:nth-child(2n + 1) {
    gap: 10px;
    row-gap: 20px;
  }

  .section + .second__section {
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-areas:
    'section__title'
    'article'
    'article';
  }

  .second__section .section__title {
    grid-area: section__title;
  }

  .second__section .article {
    grid-area: article;
    grid-column: unset;
  }
}